<router-outlet></router-outlet>

<table>
    <thead>
        <tr>
            <th></th>
            <th>iOS</th>
            <th>Android</th>
        </tr>
    </thead>
    <tbody>
        <!-- GPS -->
        <tr>
            <th>Current position</th>
            <td class="green">
                <button (click)="showCurrentPosition()">Show</button>
            </td>
            <td class="green">
                <button (click)="showCurrentPosition()">Show</button>
            </td>
        </tr>
        <!-- DEVICE INFOS -->
        <tr>
            <th>Device infos</th>
            <td class="green">
                <button (click)="showDeviceInfos()">Show</button>
            </td>
            <td class="green">
                <button (click)="showDeviceInfos()">Show</button>
            </td>
        </tr>
        <!-- NETWORK INFOS -->
        <tr>
            <th>Network infos</th>
            <td class="green">
                <button (click)="showNetworkInfos()">Show</button>
            </td>
            <td class="green">
                <button (click)="showNetworkInfos()">Show</button>
            </td>
        </tr>
        <!-- DIALOG -->
        <tr>
            <th>Dialog</th>
            <td class="green">
                <button (click)="testDialog()">Test</button>
            </td>
            <td class="green">
                <button (click)="testDialog()">Test</button>
            </td>
        </tr>
        <!-- VIBRATION -->
        <tr>
            <th>Vibration</th>
            <td class="green">
                <button (click)="testVibration()">Test</button>
            </td>
            <td class="green">
                <button (click)="testVibration()">Test</button>
            </td>
        </tr>
        <!-- KEYBOARD -->
        <tr>
            <th>Keyboard</th>
            <td></td>
            <td class="green">
                <button (click)="openKeyboard()">Open</button>
            </td>
        </tr>
        <!-- TOAST -->
        <tr>
            <th>Toast</th>
            <td class="green">
                <button (click)="showToast()">Show</button>
            </td>
            <td class="green">
                <button (click)="showToast()">Show</button>
            </td>
        </tr>
        <!-- PHOTO -->
        <tr>
            <th>Photo</th>
            <td class="green">
                <button (click)="askPhoto()">Test</button>
                <img />
            </td>
            <td class="green">
                <button (click)="askPhoto()">Test</button>
            </td>
        </tr>
        <tr *ngIf="photoURL">
            <td colspan="3">
                <img (click)="photoURL=undefined" src="{{ photoURL }}" />
            </td>
        </tr>
        <!-- FILES -->
        <tr>
            <th>Files</th>
            <td class="green">
                <button (click)="createFile()">Write</button>
                <button (click)="readFile()">Read</button>
            </td>
            <td class="green">
                <button (click)="createFile()">Write</button>
                <button (click)="readFile()">Read</button>
            </td>
        </tr>
    </tbody>
</table>


<!--

<p class="title">Files: </p>
<button (click)="createFile()">Create file</button>
<button (click)="readFile()">Read file</button>


<p class="title red">Notification: </p>
<button (click)="showNotification()">Show notification</button>
-->